### First, import the Python random libary

In [1]:
import random

### Create a list named sample_list_1 with 80 random values.

In [90]:
sample_list_1=random.sample(range(0,100),k=80,counts=None)
print(sample_list_1)

[17, 44, 10, 56, 65, 52, 47, 66, 14, 21, 80, 63, 15, 11, 92, 2, 34, 75, 64, 60, 97, 68, 30, 32, 85, 19, 59, 40, 39, 3, 83, 77, 46, 9, 72, 81, 43, 31, 74, 29, 20, 96, 90, 16, 26, 37, 12, 62, 24, 8, 18, 67, 70, 0, 82, 48, 76, 22, 51, 57, 87, 4, 5, 79, 27, 33, 94, 7, 99, 45, 55, 69, 49, 38, 23, 1, 54, 61, 41, 36]

In [17]:
len(sample_list_1)

80

### Convert sample_list_1 to a set called set1. Print the length of the set. Is its length still 80.

In [18]:
set1=set(sample_list_1)
len(set1)

80

### Create another list named sample_list_2 with 80 random values.

In [32]:
sample_list_2=[]

for i in range(0,80):
    sample_list_2.append(random.randint(0,100))
    


print(sample_list_2)

[63, 100, 33, 44, 19, 4, 25, 59, 54, 46, 45, 23, 76, 50, 60, 65, 34, 68, 70, 35, 66, 9, 94, 26, 24, 17, 85, 81, 86, 30, 94, 3, 57, 39, 19, 36, 1, 95, 87, 84, 27, 0, 86, 49, 43, 38, 77, 97, 20, 45, 50, 100, 52, 85, 84, 84, 35, 39, 63, 63, 22, 4, 93, 89, 39, 78, 72, 34, 92, 0, 83, 63, 8, 1, 58, 4, 96, 63, 65, 28]

In [33]:
len(sample_list_2)

80

### Convert sample_list_2 to a set called set2. Print the length of the set. Is its length still 80?

In [34]:
set2=set(sample_list_2)
len(set2)

58

### <font color='red'>THE NUMBER OF ITEMS HAS CHANHGED</font>

### Identify the elements present in set1 but not in set2. Assign the elements to a new set named set3.

In [36]:
set3=set1-set2
print(set3)

{2, 6, 10, 11, 12, 13, 14, 15, 16, 18, 21, 32, 37, 40, 41, 42, 47, 53, 56, 61, 64, 67, 69, 71, 74, 75, 80, 82, 88, 91, 99}

### Identify the elements present in set2 but not in set1. Assign the elements to a new set named set4.

In [38]:
set4=set2-set1
print(set4)

{97, 100, 39, 72, 45, 49, 85, 24, 95}

### Now Identify the elements shared between set1 and set2. Assign the elements to a new set named set5.

In [41]:
set5= set1.intersection(set2)
print(set5)

{0, 1, 3, 4, 8, 9, 17, 19, 20, 22, 23, 25, 26, 27, 28, 30, 33, 34, 35, 36, 38, 43, 44, 46, 50, 52, 54, 57, 58, 59, 60, 63, 65, 66, 68, 70, 76, 77, 78, 81, 83, 84, 86, 87, 89, 92, 93, 94, 96}

### What is the relationship among the following values:

len(set1)
len(set2)
len(set3)
len(set4)
len(set5)

### <font color='red'>THE LENGHT OF SET 1+2 IS EQUAL TO THE LEGHT OF SET 3+4+5. IF THIS WAS A VENN DIAGRAM LEN 1 AND 2 WOULD BE THE CIRCLES. LEN 5 WOULD BE THE INTERSECTION AND LEN 3 AND 4 THE NON INTERSECTIONAL SECTIONS OF THE CIRCLES</font> 
### <font color='GREEN'>len(set1)+len(set2)=len(set3)+len(set4)+len(set5)</font>

### Create an empty set called set6.

In [57]:
set6=set()

### Add set3 and set5 to set6 using the Python Set update method.

In [58]:
set6.update(set3)

In [59]:
print(set6)

{64, 2, 67, 69, 6, 71, 10, 11, 12, 13, 14, 15, 16, 74, 18, 75, 80, 21, 82, 88, 91, 32, 99, 37, 40, 41, 42, 47, 53, 56, 61}

In [60]:
set6.update(set5)

In [61]:
print(set6)

{0, 1, 2, 3, 4, 6, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 25, 26, 27, 28, 30, 32, 33, 34, 35, 36, 37, 38, 40, 41, 42, 43, 44, 46, 47, 50, 52, 53, 54, 56, 57, 58, 59, 60, 61, 63, 64, 65, 66, 67, 68, 69, 70, 71, 74, 75, 76, 77, 78, 80, 81, 82, 83, 84, 86, 87, 88, 89, 91, 92, 93, 94, 96, 99}

### Check if set1 and set6 are equal.

In [63]:
if set6==set1:
    print('SAME')
else:
    print('NOT THE SAME')

SAME

### Check if set1 contains set2 using the Python Set issubset method. Then check if set1 contains set3.*

In [65]:
z=set2.issubset(set1)
print(z)

False

### Using the Python Set union method, aggregate set3, set4, and set5. Then aggregate set1 and set2.

In [73]:
set3.union(set4,set5)

{0,
 1,
 2,
 3,
 4,
 6,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 30,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 49,
 50,
 52,
 53,
 54,
 56,
 57,
 58,
 59,
 60,
 61,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 74,
 75,
 76,
 77,
 78,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 99,
 100}

### Using the Python Set union method, aggregate set3, set4, and set5. Then aggregate set1 and set2.

In [74]:
set1.union(set2)

{0,
 1,
 2,
 3,
 4,
 6,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 30,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 49,
 50,
 52,
 53,
 54,
 56,
 57,
 58,
 59,
 60,
 61,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 74,
 75,
 76,
 77,
 78,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 99,
 100}

### Check if the aggregated values are equal.

In [75]:
if set3.union(set4,set5)==set1.union(set2):
    print('EQUAL')
else:
    print('NOT EQUAL')

EQUAL

### Using the pop method, remove the first element from set1.

In [76]:
set1.pop()

0

### Remove every element in the following list from set1 if they are present in the set. Print the remaining elements.

In [104]:
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
for i in list_to_remove:
    set1.discard(i)
        
print(set1)

{17, 18, 20, 22, 23, 25, 26, 27, 28, 30, 32, 33, 34, 35, 36, 37, 38, 40, 42, 43, 44, 46, 47, 50, 52, 53, 54, 56, 57, 58, 60, 63, 64, 65, 66, 67, 68, 70, 74, 75, 76, 77, 78, 80, 82, 83, 84, 86, 87, 88, 92, 93, 94, 96}