In [13]:
import requests 
import pandas as pd
import json
import matplotlib.pyplot as plt
import itertools
import collections 
!pip install nltk
import tweepy as tw
import nltk
from nltk.corpus import stopwords
import re

Requirement already satisfied: nltk in /Users/derinkivaner/opt/anaconda3/lib/python3.9/site-packages (3.7)
Requirement already satisfied: regex>=2021.8.3 in /Users/derinkivaner/opt/anaconda3/lib/python3.9/site-packages (from nltk) (2022.3.15)
Requirement already satisfied: joblib in /Users/derinkivaner/opt/anaconda3/lib/python3.9/site-packages (from nltk) (1.1.0)
Requirement already satisfied: tqdm in /Users/derinkivaner/opt/anaconda3/lib/python3.9/site-packages (from nltk) (4.64.0)
Requirement already satisfied: click in /Users/derinkivaner/opt/anaconda3/lib/python3.9/site-packages (from nltk) (8.0.4)

In [11]:

api_endpoint='http://api.citybik.es/v2/networks'
respuesta=requests.get(api_endpoint)
x=respuesta.json()
networks=x['networks']
y=pd.json_normalize(networks)
df=pd.DataFrame(y)

In [12]:
df

,company,href,id,name,location.city,location.country,location.latitude,location.longitude,source,gbfs_href,license.name,license.url,ebikes
0,[ЗАО «СитиБайк»],/v2/networks/velobike-moscow,velobike-moscow,Velobike,Moscow,RU,55.750000,37.616667,NaN,NaN,NaN,NaN,NaN
1,[Gobike A/S],/v2/networks/bycyklen,bycyklen,Bycyklen,Copenhagen,DK,55.673582,12.564984,NaN,NaN,NaN,NaN,NaN
2,[Gobike A/S],/v2/networks/nu-connect,nu-connect,Nu-Connect,Utrecht,NL,52.117000,5.067000,NaN,NaN,NaN,NaN,NaN
3,[Urban Infrastructure Partner],/v2/networks/baerum-bysykkel,baerum-bysykkel,Bysykkel,Bærum,NO,59.894550,10.546343,NaN,NaN,NaN,NaN,NaN
4,[Gobike A/S],/v2/networks/bysykkelen,bysykkelen,Bysykkelen,Stavanger,NO,58.969975,5.733107,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
652,[Nextbike GmbH],/v2/networks/winsenrad,winsenrad,WinsenRad,Winsen (Luhe),DE,53.354700,10.206700,NaN,NaN,NaN,NaN,NaN
653,[Nextbike GmbH],/v2/networks/loker-lomza,loker-lomza,ŁoKeR - Łomża,Łomża,PL,53.164900,22.072900,NaN,NaN,NaN,NaN,NaN
654,[Nextbike GmbH],/v2/networks/nomago-kranjska-gora,nomago-kranjska-gora,Nomago Bikes - KRANJSKA GORA,Kranjska Gora,SI,46.484600,13.783600,NaN,NaN,NaN,NaN,NaN
655,[Nextbike GmbH],/v2/networks/nomago-portoroz,nomago-portoroz,Nomago Bikes - PORTOROZ,Portorož,SI,45.505400,13.597900,NaN,NaN,NaN,NaN,NaN
656,[Nextbike GmbH],/v2/networks/vrn-landau,vrn-landau,VRN,Landau in der Pfalz,DE,49.197500,8.116930,NaN,NaN,NaN,NaN,NaN

In [14]:
df.keys()

Index(['company', 'href', 'id', 'name', 'location.city', 'location.country',
       'location.latitude', 'location.longitude', 'source', 'gbfs_href',
       'license.name', 'license.url', 'ebikes'],
      dtype='object')

In [19]:
by_location=df.groupby(['location.country', 'location.city']).size()
print(by_location)

location.country  location.city
AE                Abu Dhabi                          1
AR                Buenos Aires                       1
                  Rosario                            1
AT                10vorWien                          1
                  Ellmau                             1
                                                    ..
US                Tampa, FL                          1
                  Topeka, KS                         1
                  University of South Florida, FL    1
                  University of Virginia, VA         1
                  Washington, DC                     1
Length: 643, dtype: int64